:root{
    --myFont: 'Permanent Marker', cursive; font-weight: lighter;
}


h1 {
    text-shadow: 4px 4px #1a1818;
  }



.fontTitle{
    display:grid;
    font-family: 'Permanent Marker', cursive;
    font-size: 55px;
    background-color: whitesmoke;
    color:coral;
    text-align: center;
    width: 100%;
    margin-top:20px;
    height:75px;
    /* position: fixed; */
 


}

.searchForm{
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    display:grid;
    font-family: var(--myFont);
 
}

#overlay{
    width:max-content;
    display:grid;
    background-color: white;
    align-items:center; 
    justify-content: center;
    

    
}

.mediaContainer{
    /* width: 100%; */
    display: grid;
    justify-content: center;
    width:650px;
    height:370px;
    background-color: coral;
    align-items: center;
    margin-bottom:20px;
    margin-left:auto;
    margin-right: 60px;
    

}

#subBut{
    background-color: whitesmoke;
    color: rgb(87, 84, 84);
    width: max-content;
    font-size: 18px;
    border-color: coral;
    border-style: solid;
    border-radius: 10%;
    margin-left: 15px;
    font-weight:lighter;
}

#subBut:hover{
    background-color:white;
    border:none;
    color:coral
}

.videoList{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top:10px;
    background:transparent;
    padding-top: 25px;
    margin-right:100;
    margin-left: -100px;
    padding-bottom: 25px;
    
}

#noBull{
    list-style-type: none;
    justify-content: space-evenly;
}

.videoDescription{
    display:grid;
    justify-content: center;
    
}

#videolistTitle{
    display: grid;
    justify-content: center;
    padding-top: 50px;
    font-family: var(--myFont);
    border-style: solid black;
    border-width: 2px;
    
}

h2:hover{
    color:white;
    background-color: black;

}

img{
    width: 150px;
}


img:hover{
    cursor: pointer;
    width: 200px
}


/* videoDescription.Title{
    font-size: 100px;
} */

#titleVid{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: var(--myFont);
    font-size: 25px;
    color: black;
    text-shadow: 1px 1px coral;
    text-decoration: underline;
}


/* #vidDescription{
    font-family: 
} */

.commentForm{
    display: flex;
    justify-content: flex-end;
}